/******** sovrascritto framework bootstrap **********/
.container-fluid{
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}


/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  text-align: center;
}
/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole centratura pagina */

.ms_container{
  padding: 0 10%;
}
.ms_container1{
  padding: 0 15%;
}
.ms_container2{
  padding: 0 20%;
}

/* nav */
#navigation{
  padding: 1%;
}
header .navbar{
  margin-bottom: 0;
  /* position: fixed; */
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}
#navigation img{
  max-height: 40px;
  width: auto;
}
#navigation .navbar-brand{
  padding: 0 80px;
}



/* sezione jumbotron */
#jumbotron{
  background-image: url(../img/home.jpg);
  margin-top: 76.94px;
}
.titolohp{
  margin: 200px 30px 200px 0;
}
.titolohp h1{
  font-size: 58px;
  color: white;
}
.titolohp p{
  font-size: 24px;
  color: white;
}
.square{
  margin: 200px auto 50px;
  width: 90%;
  background-color: white;
  border-radius: 5%;
  padding: 30px 0;
  /* debug */
  /* min-height: 300px; */
  /* debug */
}
.square .form-control{
  display: inline;
  width: 50%;
}
.square .btn{
  padding: 6px 50px;
  color: white;
  background-color: blue;
}





#customers{
  background-color: #F3F5F9;
}
#deploy{
  background-color: #FFFFFF;
}
#designed{
  background-color: #F3F5F9;
}
#features{
  background-color: #FFFFFF;
}
#service{
  background-color: #0F2656;
}
#development{
  background-color: #F3F5F9;
}
#start{
  background-color: #0061FF;
}
#foot{
  background-color: #2C3E50;
}

/* REGOLE MEDIA QUERIES PARTICOLARI */
@media all and (max-width: 768px){
  .ms_container{
    padding: 0 5%;
  }
  .ms_container1{
    padding: 0 8%;
  }
  #navigation .navbar-brand{
    padding: 0 0 0 20px;
  }
  .titolohp{
    margin: 0;
  }
}
@media all and (min-width: 769px) and (max-width: 1200px){
  .titolohp{
    margin: 0;
  }
}
